<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css"/>
<!-- Include the DataTables CSS and JS files -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <style>
        /* Set left bar height to 100% of viewport */
        .left-bar {
          height: 100vh;
        }
        /* Set left bar background color */
        .left-bar {
          background-color: #f8f9fa;
        }
        /* Set active tab color */
        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
          background-color: #007bff;
          color: #fff;
        }
        /* Set tab border radius */
        .nav-pills .nav-link {
          border-radius: 0;
        }
        /* Set tab hover effect */
        .nav-pills .nav-link:hover {
          background-color: #e9ecef;
        }
      </style>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Airbus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul  style="position: absolute; top:10px;  right: 100px;">
        <form method="post" action="/logout">
        <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </ul>
  </div>
</nav>

<!-- Content -->

    <!-- Left Bar -->
    <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block left-bar">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-tab1" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Dashboard</a>
              <a class="nav-link" id="v-pills-tab2" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Buy Components</a>
              <a class="nav-link" id="v-pills-tab3" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Data Ingestion</a>
              <a class="nav-link" id="v-pills-tab4" data-toggle="pill" href="#v-pills-dash" role="tab" aria-controls="v-pills-dash" aria-selected="false">Database</a>

            </div>
          </nav>
          <!-- Main Content -->
          <main role="main" class="col-md-10 ml-sm-auto px-4">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-tab1">
                <h1>Tab 1 Content</h1>
                {{plot1|safe}}
                {{plot2|safe}}
                {{plot3|safe}}
                {{plot4|safe}}

               
            </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-tab2">
                <h5>Welcome to Aircraft Parts Page Select below to view parts</h5>
                <label for="part">Select Part:</label>
                <select id="partnames" name="partnames"  type="text">
                    {% for i in partnames %}
                    <option >{{i[0]}}</option>
                    {% endfor %}
                  </select>

                  <div class="form-group" style="display: none;" class="form-group" id="channel_div_type">
                    <label for="material composition">Material composition:</label>
                    <select id="materc" name="materc"  type="text">
                    {% for i in materc %}
                    <option >{{i[0]}}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="form-group" style="display: none;" class="form-group" id="channel_div_type">
                    <label for="puc">Potential Use Cases</label>
                    <select id="puc" name="puc"  type="text">
                    {% for i in pucs %}
                    <option >{{i[0]}}</option>
                    {% endfor %}
                  </select>
                </div>

                

              </div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-tab3">
                <h1>Upload Your file </h1>
                <h5> For Sample file please request Admin</h5>
                <br>
                <br>
                <br>
                <br>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <label for="file-upload">Select a file to upload:</label>
                    <input type="file" id="file-upload" name="file">
                    <br>
                    <button type="submit">Submit</button>
                  </form>
              </div>
              <div class="tab-pane fade" id="v-pills-dash" role="tabpanel" aria-labelledby="v-pills-tab4">
                <h1>Database</h1>
                <table id="myTable" class="table table-striped">
                    <thead>
                      <tr>
                        <th>Part Name</th>
                        <th>Material Composition</th>
                        <th>Age (years)</th>
                        <th>Condition</th>
                        <th>Potential Use Cases</th>
                        <th>Location</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in tables1 %}
                      <tr>
                        <td>{{ item["Part Name"] }}</td>
                        <td>{{ item['Material Composition'] }}</td>
                        <td>{{ item['Age (years)'] }}</td>
                        <td>{{ item["Condition"] }}</td>
                        <td>{{ item["Potential Use Cases"] }} </td>
                        <td>{{ item["Location"] }}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
            </div>
          </main>
        </div>
      </div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
   
</body>
<script type="text/javascript">
    $(document).ready(function() {
        $('#myTable').DataTable();
    });
  </script>

  <script>

    
  </script>

<script>
    $(document).ready(function(id) {
      $('#partnames').on('change', function() {
        var selected_value = $(this).val();
        $.ajax({
          type: 'POST',
          url: '/query',
          data: {'selected_value': selected_value},
          success: function(response) {
            // Handle the response from the server here
            console.log(response);
          }
        });
      });
    });
  </script>

<script> 
async function generateDynamicHTML() {
  var html = '<h2>New section</h2>';
  html += '<p>This is some new content.</p>';
  console.log(plot1);
  return plot1;
}

var container = document.getElementById('dynamic-content');
    container.innerHTML = await generateDynamicHTML();</script>
</html>

